<html>

<head>
    <link rel="stylesheet" href="data/css/common.css"></link>
    <link rel="stylesheet" href="data/css/corking-basic.css">
    <script data-main="scripts/main" src="scripts/require.js"></script>
    <style>
    body {
        padding: 0px;
        margin: 0px;
    }
    </style>
</head>

<body>
    <div>
        <!-- ko template: { name: "controls-template" } -->
        <!-- /ko -->
        <div id="game_box">
        </div>
    </div>
</body>

</html>




<!-- TEMPLATES -->

<script type="text/html" id="controls-template">
<div id="control_bar">
Solar power : <span data-bind="text:solar_power"/>
</div>
</script>
