<html>

<head>
    <link rel="stylesheet" href="data/css/common.css"></link>
    <link rel="stylesheet" href="data/css/corking-basic.css">
    <script data-main="scripts/main" src="scripts/require.js"></script>
    <style>
    body {
        padding: 0px;
        margin: 0px;
    }
    </style>
</head>

<body>
    <div class="intro controls">
        <div class="pre_game nasa">
            <div class="game_title">OUTPOST 5</div>
            <div class="new_game button">New Game</div>
        </div>
    </div>
    <div>
        <!-- ko template: { name: "controls-template" } -->
        <!-- /ko -->
        <div id="game_box">
        </div>
        <!-- ko template: { name: "under-template" } -->
        <!-- /ko -->
    </div>
</body>

</html>




<!-- TEMPLATES -->

<script type="text/html" id="controls-template">
    <div id="control_bar" class="controls">
        <div class="solar">
            <i class="icon-sun-inv"></i> <span data-bind="text:solar_power" />
        </div>
        <div class="population">
            <i class="icon-male"></i> 
            <span data-bind="text:population, css: { warning: overpopulated }"></span> 
            <span>/</span> 
            <span data-bind="text:max_population"></span>
        </div>
        <div class="happiness" data-bind="html: face">
        </div>
        <div class="pull_right button" data-bind="click: music_toggle">Music</div>
        <div class="pull_right button" data-bind="click: end_turn">End Turn</div>
    </div>
</script>

<script type="text/html" id="under-template">
    <div id="under_controls" class="controls">
        <div class="row">
            <div data-bind="click: choose_newspaper, css: { selected_tab: menu_choice() == 'newspaper'}">
                News
            </div>
            <div data-bind="click: choose_buildings, css: { selected_tab: menu_choice() == 'buildings'}">
                 Buildings
            </div>
        </div>
        <div class="desktop">
            <div data-bind="if: menu_choice() == 'buildings'">
                <div data-bind="foreach: buildings">
                    <span data-bind="text: name, click: change_selected_building">
                </div>
                <div>
                    <span data-bind="click: select_sell">SELL</span>
                </div>
            </div>
            <div data-bind="if: menu_choice() == 'newspaper'">
                <div data-bind="text: (lock() == true) ? 'TURN ENDING' : newspaper"></div>
            </div>
        </div>
    </div>
    <!-- <pre data-bind="text: ko.toJSON($root, null, 2)"></pre> -->
</script>