#game_box {
 margin-top:20px;
}

#control_bar {
    padding: 10px;
    padding: 10px;
position: fixed;
width: 100%;
top: 0;
}

#under_controls {
    padding: 10px;
    height: 300px
}

.controls {
    background: rgb(40, 9, 79);
    color: white;
    font-family: 'Proxima Nova Alt Bold';
}

.desktop {
    padding: 20px;
    background: rgba(0, 94, 140,0.5);
}

.desktop > div > div > span {
    display: block;
    margin: 5px 0;
    cursor:pointer;
}

#under_controls div.row > div {
    display:inline-block;
    background: rgba(74, 164, 208, 0.5);
    margin: 0 10px;
    padding: 5px 10px;
    cursor:pointer;
}

#under_controls div.row > div.selected_tab {
    background: rgba(0, 94, 140,0.5);
}

.pull_right {
    float:right;
}

.pull_right.button {
    background: rgb(0, 94, 140);
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 2px 1px #000;
    margin-right: 30px;
}

.pull_right.end_turn:active {
    box-shadow: 0px 0px 0px #000;
}

.pull_right.end_turn:hover {
    box-shadow: 0px 2px 5px #000;
}

#control_bar span.warning {
color:red;
}

#control_bar > div {
    display: inline-block;
    padding: 0 10px;
}

@font-face {
    font-family: 'Proxima Nova Alt Bold';
    src: url('../font/Mark Simonson - Proxima Nova Alt Bold.eot');
    src: local('☺'), url('../font/Mark Simonson - Proxima Nova Alt Bold.woff') format('woff'), url('../font/Mark Simonson - Proxima Nova Alt Bold.ttf') format('truetype'), url('../font/Mark Simonson - Proxima Nova Alt Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}